<% if user_signed_in? %>
  <%= form_with(model: comment, url: url, local: true) do |form| %>
    <div class="row">
      <div class="col-2">
        <strong><%= current_user.username %>: </strong>
      </div>
      <div class="col-9">
        <div class="field">
          <%= form.label :text, "#{t('comment.comment').capitalize}: " %>
          <%= form.text_area :text, class: "form-control" %>
          <%= form.hidden_field :commentable_id, value: commentable_id %>
          <%= form.hidden_field :commentable_type, value: commentable_type %>
        </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <%= form.submit  "#{t('save')} #{t('comment.comment')}".capitalize , class: "btn btn-sm btn-primary " %>
            </div>
          </div>
      </div>

    </div>

  <% end %>
<% else %>
  <div class="alert alert-warning" role="alert">
    <%= t('comment.only_signed') %>  
  </div>
<% end %>