<p id="notice"><%= notice %></p>

<h1><%= t('author.authors').titleize %></h1>

  <% @authors.each do |author| %>
    <div class="author_block" >
        <%= image_tag author.photo.url || "https://via.placeholder.com/150x200", class: "img-fluid photo" %>
        <div class="link">
          <%= link_to author.full_name, author_path(author) %>
          </div>
    </div>
  <% end %>

<div class="row">
  <div class="col-12 justify-content-center text-center">
    <%= will_paginate @authors %>
  </div>
</div>