<h1><%= t('book.books').titleize %></h1>

  <% @books.each do |book| %>
    <div class="author_block" >
        <%= image_tag book.cover_img.url || "https://via.placeholder.com/150x200", class: "img-fluid photo" %>
        <div class="link">
          <%= link_to book.name, book_path(book) %><br>
          <small>
            <%=  book.authors[0].full_name if book.authors.count == 1 %>
            <%=  "#{book.authors[0].full_name}..." if book.authors.count > 1 %>
          </small>
          </div>
    </div>
  <% end %>

<div class="row">
  <div class="col-12 justify-content-center text-center">
    <%= will_paginate @books %>
  </div>
</div>