<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Original name:</strong>
  <%= @book.original_name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @book.slug %>
</p>

<p>
  <strong>Cover img:</strong>
  <%= @book.cover_img %>
</p>

<p>
  <strong>Publish year:</strong>
  <%= @book.publish_year %>
</p>

<p>
  <strong>About:</strong>
  <%= @book.about %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
