<div class="mt-3 ml-2 mr-2 mb-10">
<% if is_super_user %>
    <li><%= link_to t('nation.nations'), admin_nations_path  %></li>
    <li><%= link_to t('author.authors'), admin_authors_path  %></li>

    <li><%= link_to t('book.books'), admin_books_path  %></li>
    <li><%= link_to t('book_category.book_categories'), admin_book_categories_path  %></li>
    <hr>
<% end %>
<% if user_signed_in? %>
    
        <div><%= link_to "-> #{t('author.add_author')}".html_safe, new_author_path%></div>
        <div><%= link_to "-> #{t('book.add_book')}".html_safe, new_author_path %></div>
    
<% end %>
</div>